<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h1 class="text-center my-24 text-xl">Administración de productos...</h1>

<div class="container mt-1">
    <div class="row">
    <div class="row mt-1">
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>descripcion</th>
                        <th>valor</th>
                        <th>cantidad</th>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    {{#if data}}
                           {{#each data}}
                            <tr>
                                
                                <td>{{this.nombre}}</td>
                                <td>{{this.descripcion}}</td>
                                <td>{{this.valor}}</td>
                                <td>{{this.cantidad}}</td>
                                <td class="d-flex gap-2">
                                    <a href="/edit/{{this.idproductos}}" class="btn btn-info">
                                        Editar
                                    </a>
                                    <a href="/delete/{{this.idproductos}}" class="btn btn-danger">
                                        Eliminar
                                     </a>
                                </td>                              
                            </tr>
                        {{/each}}
                        {{else}}
                        <td>No hay productos en la base de datos</td>
                    {{/if}}
                </tbody>
            </table>
        </div>
<div class="col-md-5">
      <div class="card-body">
        <form action="/add" method="POST">
          <input
            type="text"
            name="nombre"
            placeholder="Nombre del producto"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="text"
            name="descripcion"
            placeholder="describa el producto"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="cantidad"
            placeholder="cantidad"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="valor"
            placeholder="valor unitario del producto"
            class="form-control mb-2"
          />

          <button type="submit" class="btn btn-primary">Guardar producto</button>
        </form>
      </div>
    </div>
